.ota{
width: 100%;
height: 426px;
top: 2586px;
left: 99px;
gap: 30px;
}
.foto1{
width: 288px;
height: 320px;

}
.card{
    display: flex;
}
.s1{
width: 264px;
height: 52px;
font-family: SF Pro Text;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
vertical-align: middle;
color: #454F5B;
}
.s2{
width: 85px;
height: 24px;
font-family: SF Pro Text;
font-weight: 600;
font-size: 20px;
line-height: 100%;
letter-spacing: 0%;
color: #161C24;
}
.s3{
width: 72px;
height: 21px;
font-family: SF Pro Text;
font-weight: 300;
font-size: 18px;
line-height: 100%;
letter-spacing: 0%;
text-decoration: line-through;
color: #454F5B;
}
.sev{
    display: flex;
    justify-content: space-between;
}




.bola1{
 width: 100%;
height: 1210px;
margin-top: 100px;
left: 100px;

}
.card1{
width: 100%;
height: 564px;
margin-top: 80px;
left: 40px;
border: 1px solid white;
}
.bola{
width: 100%;
height: 402px;
margin-top: 80px;
left: 100px;


}
.w1{
width: 605px;
height: 42px;
top: 3189px;
left: 100px;
font-family: SF Pro Text;
font-weight: 600;
font-size: 32px;
line-height: 42px;
letter-spacing: 0%;
color: #161C24;
}
.w2{
width: 605px;
height: 70px;
margin-top: 20px;
left: 100px;
font-family: SF Pro Text;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0%;
color: #454F5B;
}
.w3{
  width: 206px;
height: 24px;
opacity: 0.9;
    font-family: SF Pro Text;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
color: #161C24;
}
.w4{
    font-family: SF Pro Text;
font-weight: 400;
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
width: 206px;
height: 24px;
opacity: 0.9;
color: #161C24;
margin-left: 20px;
}
.ss1{
width: 605px;
height: 128px;
top: 4463px;
left: 100px;
font-family: SF Pro Text;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0%;
color: #454F5B;
}
.foto2{
width: 605px;
height: 554px;
margin-top: -2090px;
margin-left: 620px;
}


.card2{
width: 100%;
height: 564px;
margin-top: 70px;
left: 100px;
border: 1px solid white;
}
.foto3{
width: 605px;
height: 554px;
margin-top: -2090px;
}
.bola3{
 width: 100%;
height: 1210px;
margin-top: 100px;
}
.c1{
  width: 605px;
height: 42px;
top: 3883px;
margin-left: 620px;
font-family: SF Pro Text;
font-weight: 600;
font-size: 32px;
line-height: 42px;
letter-spacing: 0%;
color: #161C24; 
}
.c2{
  width: 605px;
height: 96px;
top: 3949px;
margin-left: 620px;
font-family: SF Pro Text;
font-weight: 400;
font-size: 18px;
line-height: 32px;
color:  #454F5B;
}
.c3{
width: 605px;
height: 128px;
top: 4061px;
margin-left: 620px;
font-family: SF Pro Text;
font-weight: 400;
font-size: 18px;
line-height: 32px;
letter-spacing: 0%;
color: #454F5B;
}
.card3{
width: 100%;
height: 332px;
top: 4418px;
background: #F2F8FF;

}
.cabola{
width: 748px;
height: 212px;
margin-left: 280px;
margin-top: 60px;
gap: 24px;
border: 1px solid white;
}
.z1{
width: 465px;
height: 62px;
margin-left: 160px;
font-family: SF Pro Text;
font-weight: 600;
font-size: 44px;
line-height: 62px;
letter-spacing: 0%;
color: #161C24;
}
.z2{
font-family: SF Pro Text;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
color: #454F5B;
margin-left: 100px;
width: 518px;
height: 52px;
}
.oy{
  width: 748px;
height: 50px;
gap: 24px;
border: 1px solid white;
}
.quti1{
width: 240px;
height: 50px;
border: 1px solid gainsboro;
font-family: SF Pro Text;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
color: #454F5B;
}
.quti2{
width: 240px;
height: 50px;
margin-left: 10px;
border: 1px solid gainsboro;
font-family: SF Pro Text;
font-weight: 400;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
color: #454F5B;
}
.quti3{
width: 220px;
height: 50px;
margin-left: 27px;
border: 1px solid gainsboro;
font-family: SF Pro Display;
font-weight: 500;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
color: white;
background-color:  #4295E4;
}



.card4{
width: 100%;
height: 448px;
margin-top: 40px;
border: 1px solid black;
background: #0D2436;
}
.oy2{
width: 1100px;
height: 328px;
margin-top: 55px;
margin-left: 68px;
}
.logo1{
  width: 105.60002136230469px;
height: 88px;
margin-left: 70px;

}
.oy3{
  width: 837px;
height: 277px;
margin-top: -250px;
margin-left: 222px;
gap: 97px;
display: flex;
}
.cat1{
  width: 139px;
height: 204px;
gap: 24px;
}
.cat2{
  width: 179px;
height: 277px;
gap: 24px;
}
.cat3{
  width: 182px;
height: 130px;
gap: 24px;
}
.cat4{
  width: 146px;
height: 162px;
gap: 24px;
}
.x1{
width: 97px;
height: 28px;
font-family: SF Pro Text;
font-weight: 500;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
text-transform: capitalize;
color: #FFFFFF;
}
.ol{
  width: 139px;
height: 152px;
gap: 16px;
}
.o{
  font-family: SF Pro Text;
font-weight: 300;
font-size: 16px;
line-height: 26px;
letter-spacing: 0%;
color: #FFFFFF;
}
.x2{
  font-family: SF Pro Text;
font-weight: 500;
font-size: 18px;
line-height: 28px;
letter-spacing: 0%;
text-transform: capitalize;
color: #FFFFFF;
}
.o1{
  font-family: SF Pro Text;
font-weight: 300;
font-size: 14px;
line-height: 24px;
letter-spacing: 0%;
color:  #C4CDD5;
}
.logo2{
  width: 126px;
height: 26px;
margin-top: 250px;
margin-left: -110px;
gap: 24px;

}
.h{
  color: #FFFFFF;
}
.o2{
width: 228px;
height: 17px;
opacity: 0.6;
margin-left: 480px;
font-family: SF Pro Display;
font-weight: 400;
font-size: 14px;
line-height: 100%;
letter-spacing: 0%;
color: #FFFFFF;
}