
.ull{
    list-style-type: none;
    display: flex;
    align-items: center;
}
.lii{
    margin-left: 40px;
}
.first{
    width: 100%;
    height: 660px;
    background-color: #00000005;
    display: flex;
}
ul{
    list-style-type: none;
}
li{
    color: grey;
}



















